/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: rgb(37, 94, 233);
    color: white;
}
.header-banner{
    background-image: url(../img/jumbo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 500px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.header-nav{
    display: flex;
    max-width: 80%;
    margin: auto;
    height: 80px;
    align-items: center; 
}
.links{
    width: 60%;
}
.logo,.login{
    width: 20%;
}
.links ul{
    display: flex;
    justify-content: center;
    gap: 20px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.login a{
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 15px;
}
.header-banner div{
    text-align: center;
    width: 50%;
}

.mac{
    background-color: white;
    color: black;
    margin-right: 30px;
    
}
.discord{
    background-color: black;
}
.mac,.discord{
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 18px;
}
h1{
    padding-bottom: 30px;
    font-size: 50px;
}
.header-banner div p{
    padding-bottom: 20px;
    font-size: 18px;
}
/* main */
.img1{
    background-image: url(../img/item1.svg);
    background-size: 100% 100%;
}
.img2{
    background-image: url(../img/item2.svg);
    background-size: 100% 100%;
}
.img3{
    background-image: url(../img/item3.svg);
    background-size: 100% 100%;
}

.main{
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 80px;
}
.container{
    display: flex;
    width: 80%;
}
.big{
    width: 60%;
}
.small{
    width: 40%;
}
h2{
    font-size: 40px;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 30px;
}
.small p{
    font-size: 20px;
    text-align: left;
}
.pre-footer h2, p{
    text-align: center; 
}
h3{
    text-align: center;
    font-size: 30px;
    width: 80%;
    margin: auto;
    padding: 10px 10px;
    background-image: url(../img/stars.svg);
    background-size: 100% 100%;
   

}
.mac2{
    background-color: rgb(114, 137, 218);
    padding: 10px 15px;
    border-radius: 15px;  
}
.pre-mac2{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
section:nth-child(2n+2){
    background-color: rgb(246, 246, 246);
}
/* footer */
footer{
    background-color: black;
    padding-top: 50px;
}
footer .container-footer {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;

}
.container-footer{
    padding-bottom: 30px;
}
.double{
    width: 30%;
    
}
.main-single{
    display: flex;
    width: 70%;
}
.single{
    width: calc(100% /4);
    
}

h4{
    color: rgb(114, 137, 218);
    font-size: 25px;
    padding-bottom: 20px;
}

.blu{
    color: rgb(114, 137, 218);
}
.single ul li{
    padding-top: 10px;
}

.footer-lb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding-top: 20px;
    border-top: 3px solid rgb(79, 93, 140);
    padding-bottom: 50px;
}

.registrati a{
    background-color: rgb(114, 137, 218);
    padding: 5px 10px;
    border-radius: 15px;

}

select{
    color: white;
    background-color: black;
    border-color: black;
}

.simbol{
    padding-top: 10px;
}

i{
    color: white;
    padding: 10px;
}
